
{% extends "story/info.html" %}
{% load static %}
{% load iescape %}


{% block content2 %}

<h2 style="text-align:left">Продукты с участием</h2>
<p style="font-size:14px;text-align:left">
  <b style="font-size:14px;text-align:left">Преимущества:</b>
</p>
<ul style="text-align:left">
  <li>Простота в объяснении</li>
  <li>Низкие цены – высокое участие в базовом активе;
  <li>Доступен к выпуску со всеми эмитентами;
  <li>Доходность не ограничена.
</ul>
<p style="font-size:14px;text-align:left">
  <b>Срок продукта:</b> 3, 5, 7 лет
  <br>
  <b>Наблюдение:</b> в конце срока
  <br>
  <b>Выплата дохода:</b> в конце срока
  <br>
  <b>Выплата:</b> MAX (0; ХN / Хinitial – 1)
</p>
{% endblock %}
